$navbar-default-bg: #ffff33;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #000;
    text-decoration: none;
}

.center {text-align: center;}



.jumbotron {
    background-image: asset-url('new_cover_page.jpg');
    opacity: 1;
    background-size: cover;
    height: 550px;
}





.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xl {
    color: #000;
    font-size: 1.7em;
    background-color: #dede1d;
}

.btn-xl:hover {
    color: #fff;
    font-size: 1.7em;
    background-color: #93930a;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {margin-top: 0;}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.badge {
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.input_checkbox input {
    width: auto !important;
}

.footer {
    margin-top: 45px;
    paddin-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.footer a:hover {
    color: #222;
}

.footer small {
    float: left;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}


.profile_img {
    width: 100px;
    height: 100px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
}





